<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647"/>
    </diagnostics>

    <extensions>
      <bindingElementExtensions>
        <add name="AsymetricSecurityBindingElement" type="MySecurityBE.Binding.AsymetricSecurityBEExtentionElement, MySecurityBE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="CertRefBEExtentionElement" type="CertFixEscapedComma.CertRefBEExtentionElement,MySecurityBE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="fechasSoapBinding"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="BindingOSB">
          <AsymetricSecurityBindingElement/>
          <CertRefBEExtentionElement/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="noneProtectionLevelForEndPoint">
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://192.168.0.1/testService" binding="customBinding" bindingConfiguration="BindingOSB" name="BindingOSB" contract="ServiceReference1.FechasPortType">
        <identity>
          <dns value="jasper2"/>
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>
  <system.diagnostics>
    <switches>
      <add name="Remote.Disable" value="1" />

    </switches>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing" propagateActivity="false">
        <listeners>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\juanl_000\Source\Repos\WSSecurity\Client\Logs\Tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, 
      Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="C:\Users\juanl_000\Source\Repos\WSSecurity\Client\Logs\Messages.xml" type="System.Diagnostics.XmlWriterTraceListener, System, 
      Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
